<html>
<head></head>
<body>	
	<div class="module inbox-view">
      	<h1> Create Message </h1>
    </div>
    <div class="module directive">
    	<input type="text" ng-model="response1" class="createinput" placeholder="From"><br>
    	<input type="text" ng-model="response2" class="createinput" placeholder="Subject">
    	<textarea ng-model="response3" class="createinput1" placeholder="Content"></textarea>
    	<input type="text" ng-model="response4" class="createinput" placeholder="Count">
    	<a href="" ng-click="addup();" class="email__reply">
	      Send
	    </a>
    </div>
</body>
</html>
